<% title "Diseases" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for disease in @diseases %>
    <tr>
      <td><%= disease.name %></td>
      <td><%= link_to "Show", disease %></td>
      <td><%= link_to "Edit", edit_disease_path(disease) %></td>
      <td><%= link_to "Destroy", disease, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Disease", new_disease_path %></p>
