<%= simple_form_for @symptom_set, :html => { :class => 'form-inline' } do |f| %>
  
	<%= f.fields_for :symptoms do |builder| %>
		<%= render 'symptom_fields', f: builder %>
	<% end %>
    <p><%= link_to_add_fields "New Symptom", f, :symptoms %></p>
	
	<div class="actions"><%= f.submit %></div>
<% end %>