<%= simple_form_for @disease, :html => { :class => 'form-horizontal' } do |f| %>
  	  <%= f.input :name %>
  
	  <%= f.fields_for :symptoms do |builder| %>
	  	<%= render 'symptom_fields', f: builder %>
	  <% end %>
	  
	  <p><%= link_to_add_fields "Add Symptom", f, :symptoms %></p>
	  
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	  
<% end %>